.player-card {
  background: #122245;
  background: linear-gradient(120deg,rgba(18, 34, 69, 1) 20%, rgba(187, 164, 90, 1) 100%);
  border-radius: 15px;
  transition: transform 0.3s ease;
  position: relative;
  width: 100%;
  max-width: 500px;
  justify-self: center;
}

.player-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.8)
  );
  border-radius: 15px;
  z-index: 1;
  pointer-events: none;
}

.player-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.player-photo {
  aspect-ratio: 1/1;
  height: 450px;
  border-radius: 12px;
  z-index: -1;
}

.player-info {
  position: absolute;
  color: #fff;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  width: 80%;
  gap: 1px;
  z-index: 2;
}

.player-name {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.player-number {
  margin: 0 1rem 0 0;
  color: #bba45a;
  font-size: 3rem;
}

@media (width <= 768px) {
  .player-photo {
    height: 200px;
  }

  .player-name {
    font-size: 1.2rem;
  }

  .player-number {
    font-size: 1.6rem;
  }
}