.estadio {
  padding: 1rem;
  background-color: #f5f5f5;
}

.estadio h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.estadio figure {
  margin: 0;
  text-align: center;
  color: #6B6B6B;
  display: flex;
  flex-direction: column;
}

.estadio img {
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 15px;
  aspect-ratio: 16/9;
}

@media (min-width: 768px) {
  .estadio {
    padding: 3rem 10rem;
  }

  .estadio h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .estadio figure {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .estadio img {
    width: 100%;
    margin-right: 4rem;
    margin: 0;
    max-width: 1000px;
  }

  .estadio figcaption {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}