/* === Modal general === */
.modal-player-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  z-index: 1000;
}

.modal-player-content {
  background: #041e42;
  border-radius: 20px;
  padding: 2rem;
  width: 90%;
  max-width: 800px;
  max-height: 800px;
  position: relative;
  text-align: center;
  animation: slideUp 0.4s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  color: #fff
}

.modal-player-photo {
  aspect-ratio: 1/1;
  width: 500px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.bio {
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-btn:hover {
  transform: scale(1.2);
}

@media(width <= 1028px) {
  .modal-player-content {
    flex-direction: column;
    max-height: 90vh;
    overflow-y: auto;
    align-items: center;
  }

  .modal-player-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 1.5rem;
  }
}

@media (width <= 768px) {
  .modal-player-content {
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    margin: 0 1rem;
  }

  .modal-player-photo {
    width: 100%;
    height: auto;
  }
}

/* === Animaciones === */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
