.trophies-container {
  padding: 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

.hero-section {
  background-image: url("../../assets/afueras-estadio.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 4rem 1rem;
  border-radius: 20px;
  box-shadow: inset 0 0 300px rgba(20, 20, 20, 1);
}

.hero-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.hero-section p {
  font-size: 1.2rem;
  font-weight: 500;
}

.trophies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

details {
  margin-top: 10px;
  cursor: pointer;
}

@media (width <= 768px) {
  .trophies-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
