.news-section {
  padding: 2rem;
  background-color: #fafafa;
  text-align: center;
}

.news-hero {
  background-image: url("../../assets/cesped-estadio.webp");
  background-size: cover;
  background-position: 0 85%;
  color: white;
  padding: 4rem 1rem;
  border-radius: 20px;
  box-shadow: inset 0 0 300px rgba(20, 20, 20, 1);
}

.news-hero h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.news-hero p {
  font-size: 1.2rem;
  font-weight: 500;
}

.news-grid {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (width <= 1028px) {
  .news-grid {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}