.video-player {
  position: relative;
}

.video-toggle-ad {
  position: absolute;
  top: 75px;
  right: 10px;
  z-index: 10;
  width: 50px;
  height: 40px;
  background-color: #122245;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;

  &:hover {
    background-color: #0d1a33;
    cursor: pointer;
  }
}

.active {
  background-color: #bba45a;
}
