.footer {
  color: #fff;
  padding: 1rem;
  background-color: #041e42;
}

.footer > div {
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-around;
  width: 100%;
}

.title {
  color: #958466;
  margin: 0;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.footer a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0.5rem 0;
}

.footer > p:last-of-type {
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 2rem;
}

.footer a:first-of-type {
  margin-top: 0.5rem;
}

@media (width < 1200px) {
  .footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footer > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
    width: 100%;
  }

  .footer p {
    margin: 0.5rem 0;
  }

  .footer > p:last-of-type {
    border-top: none;
    margin-top: 0;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .footer a:first-of-type {
    margin-top: 0;
  }
}